/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: 0.5rem 1rem;
  transition: $global-transition;
  border-radius: $global-radius;
}

/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-link;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: $color-white;
  }

  &:hover,
  &:focus {
    background-color: $color-hover;
  }
}

/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: 0.25rem 0.5rem;
}

.c-btn--large {
  padding: 0.75rem 1.5rem;
}

#sesm_buttons{
  display:flex;
  justify-content: center;
 
  & > span{
    width: 6rem;
    height: 6rem;
    background-color: $color-light-grey;
    color: $color-white;
    cursor: pointer;
    border: $sesm-border;
    border-radius: $sesm-border-radius;
    margin: 1rem;
  }

  & > span:hover{
    background-color: $color-white;
    color: $color-medium-grey;
  }

  & > span.current{
    background-color: $color-white;
    color: $color-medium-grey;
  }

  .sesm_icon{
    font-size: 3rem;
    padding: 1.3rem 0;
    display:block;
    width:100%;
    text-align: center;
  }

 .current .sesm_icon_line{
  display: block;
  background-color: $color-white;
  width: 1rem;
  height: 1.6rem;
  left: 2.5rem;
  position: relative;
 }
}

.options_button {
  width: 5rem;
  height: 4rem;
  margin: 0 1rem;
  color: $color-white;
  cursor: pointer;
  border-radius: $sesm-border-radius;

  i{
    font-size: 1.5rem;
    color: $color-medium-grey;
  }
}