/*
  Plugin: Super Easy Stock Manager
  Author: dansart
 */
/* Fonts
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Colors
   ========================================================================== */
/* ==========================================================================
   #PAGE
   ========================================================================== */
/**
 * Simple page-level setup.
 *
 */
html {
  font-family: "Open Sans", sans-serif;
  background-color: #5A5A5A; }

body {
  margin: 1rem; }

#sesm_history.active {
  background-color: #fff;
  padding: 1.5rem; }
  #sesm_history.active article {
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex; }
    #sesm_history.active article .title {
      font-weight: bold; }
    #sesm_history.active article .icon {
      border: 1px solid #707070;
      border-radius: 5px;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      text-align: center; }
    #sesm_history.active article .icon i {
      padding-top: 0.5rem; }
    #sesm_history.active article .history_flex {
      display: flex; }
      #sesm_history.active article .history_flex div:first-child {
        width: 10rem; }

/* ==========================================================================
   #HEADINGS
   ========================================================================== */
/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */
h1 {
  text-align: center;
  width: 100%;
  border: 1px solid #707070;
  background-color: #fff;
  font-weight: normal;
  padding: 1.5rem 0; }

/* ==========================================================================
   #IMAGES
   ========================================================================== */
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
/* ==========================================================================
   #HEADER
   ========================================================================== */
/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
/*@import 'tools/*';
@import 'generic/*';
@import 'elements/*';
@import 'vendor/*';
@import 'objects/*';
@import 'components/*';
@import 'utilities/*';
*/

/*# sourceMappingURL=sesm-admin.css.map */
