/* ==========================================================================
   #Form Elements
   ========================================================================== */

/**
 */
#sesm_input{
    input {
        width: 89%;
        font-size: 1.5rem;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }
}
