/* ==========================================================================
   #Form Elements
   ========================================================================== */

/**
 */
#sesm_input{
    input {
        width: 100%;
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
    }
}

label{
    color: $color-white;
    text-align: center;
    width: 100%;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
}

.input_loading.active{
    width: 50%;
    height: 0.5rem;
    background-color: $color-light-green;
    animation-name: loading_bar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    top: -0.5rem;
}
