/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1 {
 text-align: center;
 width: 100%;
 border: $sesm-border;
 background-color: $color-white;
 font-weight: normal;
 padding: 1.5rem 0;
}

h2 {
  
}

h3 {
 
}

h4 {
  
}

h5 {
  
}

h6 {
 
}
