/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 */

html {
  font-family: $font-sans-serif;
  background-color: $color-medium-grey;
}

body{
   margin: $sesm-margin;
}

#sesm_history.active{

   background-color: $color-white;
   padding: 1.5rem;

   article{
         border: $sesm-border;
         border-radius: $sesm-border-radius;
         padding: 1.5rem;
         margin-bottom: 1.5rem;
         display: flex;
         
         & .title{
            font-weight: bold;
         }

         & .icon{
            border: $sesm-border;
            border-radius: $sesm-border-radius;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            text-align: center;
         }
         & .icon i{
               padding-top: 0.5rem;
         }

         .history_flex{
            display: flex;
            
            div:first-child{
               width: 10rem;
            }
         }
   }
   article.update{

   }
   article.error{

   }
   article.default{

   }
}

