/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img {

}

#sesm_history{
   .image{
      height: 5rem;
      border: $sesm-border;
      border-radius: $sesm-border-radius;
      width: 5rem;
      margin-left: auto;
   }
   img.attachment-thumbnail.size-thumbnail,
   img.woocommerce-placeholder.wp-post-image {
      width: 100%;
      height: 100%;
      border-radius: $sesm-border-radius;
  }
}
