/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */


#sesm_buttons{
  
}

.quant_flex_group,
.price_flex_group{
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.price_flex_group div{
  margin: 0 1rem;
}

.o-layout {
  display: block;

  @include bp(medium) {
    display: flex;
  }
}

.o-layout__item {
  flex: 1;
}

.o-layout--guttered {
  justify-content: space-between;

  > .o-layout__item {
    flex: none;
  }
}

.o-layout--2 {
  > .o-layout__item {
    @include bp(medium) {
      width: 49%;
    }
  }
}

.o-layout--3 {
  > .o-layout__item {
    @include bp(medium) {
      width: 32%;
    }
  }
}

.o-layout--4 {
  > .o-layout__item {
    @include bp(medium) {
      width: 24%;
    }
  }
}
